<section>
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center pl-2 pr-2 mb-3 float-right">
            <div class="d-flex justify-content-center pd-10">
                <a (click)="showModalCreateCustomer()" style="align-items: center; color: #fff;" class="btn btn-primary">
                    <span class="icon-plus-circled">Thêm Khách Hàng</span></a>
            </div>
        </div>

        <table class="table datatable table-hover">
            <thead>
                <tr class="row">
                    <th class="col-md-1" scope="col">#</th>
                    <th class="col-md-2" scope="col">Tên Khách Hàng</th>
                    <th class="col-md-3" scope="col">Địa Chỉ</th>
                    <th class="col-md-2" scope="col">Số Điện Thoại</th>
                    <th class="col-md-2" scope="col">Mô Tả</th>
                    <th class="col-md-2" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let item of listCustomers?.list; let i= index">
                    <th class="col-md-1" scope="row">{{i + 1}}</th>
                    <td class="col-md-2">{{item?.name}}</td>
                    <td class="col-md-3">{{item?.address}}</td>
                    <td class="col-md-2">{{item?.phone}}</td>
                    <td class="col-md-2">{{item?.description}}</td>
                    <td class="col-md-2">
                            <button style="margin-right: 15px" type="button" class="btn btn-primary" (click)="showModalCreateCustomer(i,item?._id)">Sửa</button>
                            <button type="button" class="btn btn-danger" (click)="onDelete(item?._id)">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>