<div class="footer-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <ul class="nav copyright">
          <li class="nav-item">
            <a class="nav-link disabled" id="log">© Vật Tư</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" id="log">ver.1.4.0</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="nav justify-content-sm-end footer-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/help/service" target="_blank"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/help/policy" target="_blank"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manage/feedback"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>