<div class="sidebar-wrapper scroll">
  <h1 class="site-brand text-center"><img src="assets/common/images/logo.png" alt="Park Direct" class="logo"><img src="assets/common/images/small-logo.png"
      alt="Park Direct" class="small-logo"></h1>
      <p class="smalltext text-secondary text-center pl-2 pr-2 not-small-sidebar" style="margin-top: -10px">Quản Lý Vật Tư</p>
  <ul class="nav flex-column sidebar-nav mb-2">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home"><span class="pd-icon-home icon"></span>Danh Sách Đơn Hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/danhsachkhachhang"><span class="pd-icon-car icon"></span>Danh Sách Khách Hàng</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link" routerLink="/taosanpham"><span class="pd-icon-user icon"></span>Danh Sách Vật Tư</a>
    </li>
  </ul>
  
</div>
