<section>
  <div class="container-fluid">
    <div routerLink="/taodonhang" class="d-flex justify-content-between align-items-center pl-2 pr-2 mb-3 float-right">
      <div class="d-flex justify-content-center pd-10">
        <a routerLink="/taodonhang" style="align-items: center" class="btn btn-primary">
          <span class="icon-plus-circled">Thêm Đơn Hàng</span></a>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="form-group">
        <div class="input-button-group icon-inside icon-left">
          <button type="submit" class="btn btn-none btn-icon"><span class="pd-icon-search"></span></button>
          <input type="text" (change)="onChangeValueText($event)" class="form-control" placeholder="Tìm kiếm đơn hàng theo số điện thoại khách hàng">
        </div>
      </div>
    </div>
    <section>
      <div class="pt-2 pb-2 pr-3 pl-3  bg-gray-light mb-2">
        <strong>Tổng tiền: {{listOrders?.total | number}}VND</strong>
      </div>
      <div class="pt-2 pb-2 pr-3 pl-3  bg-gray-light mb-2">
        <strong>Tổng tiền trên một trang: {{tongtien| number}}VND</strong>
      </div>
    </section>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên Khách Hàng</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Sản Phẩm Mua</th>
          <th scope="col">Ngày Bán</th>
          <th scope="col">Tổng Tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listOrders?.lists; let i=index" routerLink="/chitiethoadon" [queryParams]="{order_id: item?._id}">
          <td scope="row">{{i + 1}}</td>
          <td>{{item?.customer_name}}</td>
          <td>{{item?.customer_phone}}</td>
          <td>
            <p *ngFor="let product of item?.items">
              <span style="color: #5d6a77">{{product?.name}}</span>: {{product?.dongia | number}} *
              {{product?.soluong}} = {{product?.thanhtien | number}}VND <br>
            </p>
          </td>
          <td>{{item?.start_date | date: 'yyyy/MM/dd'}}</td>
          <td>{{item?.total | number}}VND</td>
        </tr>
      </tbody>
    </table>
<ngb-pagination [(page)]="page" (pageChange)="loadPage($event)" [pageSize]="10" [collectionSize]="listOrders?.count"></ngb-pagination>
  </div>
</section>